@import 'src/less/variables.scss';
@import 'src/less/style.scss';

header{
  ul{
    padding-left: 500px;
    list-style: none;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
  }
  li{
    text-decoration: none;
    display: flex;
    text-align: right;
    margin-left: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.75px;
    color: $body;
  }
}
.profiles::after{
  content: url("../../less/img/profile.svg");
  margin-left: 8px;
}
.dashboard::after{
  content: url("../../less/img/dashboard.svg");
  margin-left: 8px;
}
.users::after{
  content: url("../../less/img/users.svg");
  margin-left: 8px;
}