@import 'src/less/variables';
@import 'src/less/style';

.user_profiles{
  .imgs{
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  h2{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 34px;
    letter-spacing: 1px;
    color: $title_active;
  }
}
.profile_set{
  display: flex;
  flex-wrap: wrap;
  width: inherit;
  padding: 60px 0;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}