//colours:
$white: #FFFFFF;
$background: #F7F7FC;
$input_bg: #EFF0F6;
$line: #D6D8E7;
$label: #6E7191;
$body: #4E4B66;
$title_active: #14142B;
$green: #00BA88;
$red: #EB0055;
$blue: #624AF2;
//shadow:
$shadow: #C4C4C4;
