@import 'src/less/variables';
@import 'src/less/style';

.signIn{
  padding-top: 70px;
  h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 1px;
    text-align: center;
    color: $title_active;
  }
  form{
    width: 400px;
    margin-left: 34%;
  }
}