@import 'src/less/variables';
@import 'src/less/style';

.submit{
  margin-left: 34%;
  width: 135px;
  height: 56px;
  background: $input_bg;
  border-radius: 12px;
  border: none;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.75px;
  color: $body;
  flex: none;
  order: 0;
  flex-grow: 0;
}