@import '../../less/variables.scss';
@import '../../less/style.scss';
.user_screen{
  padding: 60px 120px;
  h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 34px;
    letter-spacing: 1px;
    color: $title_active;
  }
}
.users_set{
  display: flex;
  width: inherit;
  padding: 60px 0;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.userItem:visited {
  color: $body;
}
.userItem{
  text-decoration: none;
}