@import '../../less/variables.scss';
@import '../../less/style.scss';
.avatar{
  display: flex;
  p{
    margin: 15px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.75px;
    color: #14142B;
  }
}
.user_avatar{
  width: 48px;
  height: 48px;
  border-radius: 50px;
  border: 1.5px solid $line;
}
.admin_avatar{
  width: 48px;
  height: 48px;
  border-radius: 50px;
  border: 1.5px solid $green;
}