@import 'src/less/variables';
@import 'src/less/style';
*{
  margin: 0;
}
.delete{
  height: 39px;
  width: 160px;
  text-align: center;
  border-radius: 0 0 16px 0;
}
.delete:hover{
  background: $red;
  color: $white;
}