@import 'src/less/variables';
@import 'src/less/style';
*{
  margin: 0;
}
.edit{
  height: 39px;
  width: 160px;
  text-align: center;
  border-radius: 0 0 0 16px;
  border-right: 1px solid $line;
}
.edit:hover{
  background: $blue;
  color: $white;
}